@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
Classes to alter

--Definitely--

Hero Text
Profile Title
Profile
** Info section?
h2.title
sub
h3
** collapsible
** content
h1
skills
desc


--Maybe--

Hero Picture

*/



/* HEADER STYLING */ 
/* ************************************************************************************** */
.hero-image{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic/WideLibrary.jpg");
	width: 100%;
	padding: 24% 0;
	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vw;
}

.hero-sub {
  font-size: .65em;
}


.social-icon {
	position: fixed;
	height: 6vw;
	width: auto;
	margin-left: 3%;

}

/* BODY STYLING */ 
/* ************************************************************************************** */
body{
	margin: 0;
	background-color: #8E8D8A;
	color: white;
	font-family: Roboto;
	line-height: 1.75em;
}

h1{
	text-align: center;
	font-weight: 300;
	font-size: 3em;
	letter-spacing: 2px;
	color: #E85A4F;
	margin: 0 0 1em 0;
}

h3{
	margin: 0;
}

td {
	padding: .75em;
	vertical-align: top;
}


.profile-title{
	width: 30%;
}

.info-section{
	width: 70%;
	background-color: #EAE7DC;
	padding:0 15%;
	text-align: left;
	color: black;
	padding-bottom: 1em;
	padding-top: 1em;
}

.info-alt{
	background-color: #F0EAD6;
}

.info{
	text-align: left;
}

.title-container{
	vertical-align: top;
}

.title{
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
	color: #6A2E35;

}

.sub{
	margin: 0;
	font-size: .8em;

}
.desc{
	text-align: left;
}

.skills{
	width: 15%;
	text-align: left;
}

.stars{
	width: 25%;
	text-align: center;
}

.skills-table{
	font-size: 1.2em;
}

.circle-icon-container{
	vertical-align: middle;
}

.circle-icon{
	height: 20em;
}

/* ************************************************************************************** */
.footer {
	color: white;
}

#footer a{
	text-decoration: underline;
	color: #1959C9;
}

/* ************************************************************************************** */


.vert-middle{
	vertical-align: middle;
}

.hori-right{
	text-align: right;
}

.spacer {
	margin-top: 8%
}

.collapsible {
  background-color: #E8DEBD;
  color: #6A2E35;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}

.active, .collapsible:hover {
  background-color: #E7D28E;
  color: #A03340;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #E8DEBD;
  font-size: .85em;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex hr {
	width: 100%;
	border: 0;
	margin, padding: 0;
}

.break {
	flex-basis: 100%;
	height: 0;